<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Website{% endblock %}</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/investment">Investment</a></li>
        <li><a href="/member_center">Member Center</a></li>
    </ul>
</nav>

{% block content %}
{% endblock %}

</body>
</html>
